.joke-container {
    margin: 50px auto;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}